# Task One Solution

In [14]:
# Imports
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import re

In [15]:
# Load data into pandas dataframes
trans_data_file = rf'data\QVI_transaction_data.xlsx'
cust_data_file = rf'data\QVI_purchase_behaviour.csv'

trans_data = pd.read_excel(trans_data_file)
cust_data = pd.read_csv(cust_data_file)

In [16]:
# Preview data
print('Transaction data preview:\n', trans_data.head(), "\n\n")
print("Customer data preview:\n", cust_data.head())

Transaction data preview:
     DATE  STORE_NBR  LYLTY_CARD_NBR  TXN_ID  PROD_NBR  \
0  43390          1            1000       1         5
1  43599          1            1307     348        66
2  43605          1            1343     383        61
3  43329          2            2373     974        69
4  43330          2            2426    1038       108

                                  PROD_NAME  PROD_QTY  TOT_SALES
0    Natural Chip        Compny SeaSalt175g         2        6.0
1                  CCs Nacho Cheese    175g         3        6.3
2    Smiths Crinkle Cut  Chips Chicken 170g         2        2.9
3    Smiths Chip Thinly  S/Cream&Onion 175g         5       15.0
4  Kettle Tortilla ChpsHny&Jlpno Chili 150g         3       13.8


Customer data preview:
    LYLTY_CARD_NBR               LIFESTAGE PREMIUM_CUSTOMER
0            1000   YOUNG SINGLES/COUPLES          Premium
1            1002   YOUNG SINGLES/COUPLES       Mainstream
2            1003          YOUNG FAMILIES           Budget
3            1004   OLDER SINGLES/COUPLES       Mainstream
4            1005  MIDAGE SINGLES/COUPLES       Mainstream

In [17]:
# it looks like the DATE column is in Excel's integer format
# convert integer to date format (origin is specific to Excel (and possible other) date integer format)
trans_data['DATE'] = pd.to_datetime(trans_data['DATE'], unit='D', origin=pd.Timestamp('1899-12-30'))
print(trans_data['DATE'].head())

0   2018-10-17
1   2019-05-14
2   2019-05-20
3   2018-08-17
4   2018-08-18
Name: DATE, dtype: datetime64[ns]

In [25]:
# next check that the products are actually chips
# first get unique prod names
prod_names = trans_data["PROD_NAME"].drop_duplicates()

# convert strings into lists of words
# expand=True makes it so words are split into seperate columns
# expand=False makes it so words are grouped into a list that exists in one column
prod_names = prod_names.str.split(expand=False)

# next remove words that contain numbers and special characters
prod_names = prod_names.apply(' '.join).str.replace('[^A-Za-z\s]+', '')

# convert into a long list of words (NxM dataframe into Dx1 data series)
prod_names = prod_names.str.split(expand=True)

# ravel() unravels the columns into a series
# strangely "ravel" and "unravel" mean the same thing - Google it
# this displays the 20 most frequently occuring words
print(pd.value_counts(prod_names.values.ravel())[0:20])

g           105
Chips        21
Smiths       16
Crinkle      14
Cut          14
Kettle       13
Salt         12
Cheese       12
Original     10
Salsa         9
Chip          9
Doritos       9
Pringles      8
Corn          8
RRD           8
Chicken       7
WW            7
Sour          6
Sea           6
Chilli        6
dtype: int64

In [29]:
# the dataset accidentally has salsa items included! Remove these
delete_idxs = trans_data['PROD_NAME'].str.lower().str.contains('salsa')
filtered_trans_data = trans_data[~delete_idxs]

0.06832152728481022